@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    box-sizing: border-box;
    background: white;
     font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
  border-bottom: #d8d8d8 1px solid;
}

.logo {
  height: 4em;
  align-items: flex-start;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #CC3F4F;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  padding-right: 3em;
  background-image: linear-gradient(#CC3F4F, #CC3F4F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
}
.nav a:hover {
  background-size: 55% 3px; 
}

.about-container {
  display: grid;
  grid-template-columns: 1.5fr 2fr; 
  gap: 40px;                      
  align-items: flex-start;
  padding: 24px 0;
  max-width: 100%;
  padding-left:40px;
  padding-right: 40px;
}


.about-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.self-pic {
  background-color: #cfe8ee;
  border: 4px solid #86c8e0;
  border-radius: 4px;
  aspect-ratio: 1 / 1;  
   width: 20em;
  height: 20em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.self-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-title-underline {
  display: inline-block;
  width: 40px;
  height: 3px;
  background-color: #e1358a;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: end;
  justify-content: start;
}

.about-bg {
  position: relative;
  width: 35em;
  border-radius: 12px;
  overflow: hidden;
}

.about-bg-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 3em;
}

.about-previous {
  background-color: #ffffff;
  padding: 20px 24px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.about-previous-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 16px;
}

.about-previous-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 200px;
}

