/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    box-sizing: border-box;
    background: white;
     font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 40px;
}

.logo-img {
  height: 4em;
  align-items: flex-start;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #CC3F4F;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  padding-right: 3em;
  background-image: linear-gradient(#CC3F4F, #CC3F4F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
}
.nav a:hover {
  background-size: 55% 3px; 
}


.home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    padding: 0 40px;
    align-items: center;

}

.home-container .illustration-map{
    max-width: 40em;
    max-height: 60em;
    
    
}
.home-container img{
    border-radius: 7em;
}

.home-text {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(9,auto);
  gap: 18px;
  padding-left: 3em;;
}

.home-text h1 {
    grid-row: 3/4;
    grid-column: 1/3;
    font-size: 28px;
    margin: 0 0 8px 0;
}

.home-text h3{
    grid-column: 1/3;
    grid-row: 4/5;
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    color: #444; 
    font-style: none;
}

.home-text .firstp {
    grid-column: 1/3;
    grid-row: 5/6;
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    color: #444;
}

.home-text .secondp{
    grid-column: 1/3;
    grid-row: 6/7;
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    color: #444;   
}

.home-container button{
    grid-column: 1/3;
    grid-row: 8/9;
}


.logo-large {
  width: 20em;
  margin-bottom: 8px;
}

.logo-small {
    width: 8em;
    transform: rotate(15deg);
  opacity: 0;
  animation: fadeQuick 4s ease-in-out infinite;
}

@keyframes fadeQuick {
  0% { opacity: 0; }       
  5% { opacity: 1; }       
  35% { opacity: 1; }     
  50% { opacity: 0; }      
  100% { opacity: 0; }     
}



 .home-container .map-button {
  background-color: #CC3F4F;
  color: #fff;
  padding: 14px 32px;
  border: none;
  border-radius: 999px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  transition: background-color 0.3s ease;
  width: 10em;
}

.map-button:hover {
  background-color: #E6A0BA;
  color:#330707;
}

