/* ===== YOUR CSS GOES HERE ===== */
/* ===== START BY IMPORTING YOUR FONTS ===== */ 
/* ===== NEXT WRITE GLOBAL STYLES, THEN USE MEDIA QUERIES FOR LAYOUT/STYLE ADJUSTMENTS ===== */
/* ===== STARTER CSS BELOW FOR body AND p IS JUST AN EXAMPLE... YOU MAY DELETE IT ===== */

@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
html {
  box-sizing: border-box;
}

body {
    background: white;
     font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 18px;
}

.logo {
  height: 4em;
  align-items: flex-start;
}

.nav {
  display: flex;
  gap: 32px;
}

.nav a {
  text-decoration: none;
  color: #CC3F4F;
  font-size: 18px;
  font-weight: 500;
  font-weight: bold;
  padding-right: 3em;
  background-image: linear-gradient(#CC3F4F, #CC3F4F);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s ease;
}
.nav a:hover {
  background-size: 54% 3px; 
}


.page-home .home-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 0 40px;
    align-items: center;

}

.page-home  .home-container .illustration-map{
    max-width: 40em;
    max-height: 40em;
    margin-left: 3em;  
}
.page-home  .home-container img{
    border-radius: 7em;
}

.home-image a{
  color:#CC3F4F;
}

.page-home .home-image p{
  margin: 0;
  padding-left: 5em;
}

.page-home .home-text {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(9,auto);
  gap: 18px;
  padding-left: 3em;;
}

.page-home .home-text h1 {
    grid-row: 3/4;
    grid-column: 1/3;
    font-size: 28px;
    margin: 0 0 8px 0;
}

.page-home .home-text h3{
    grid-column: 1/3;
    grid-row: 4/5;
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    color: #444; 
    font-style: none;
}

.page-home .home-text .firstp {
    grid-column: 1/3;
    grid-row: 5/6;
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    color: #444;
}

.page-home .home-text .secondp{
    grid-column: 1/3;
    grid-row: 6/7;
    margin: 0;
    line-height: 1.6;
    font-size: 16px;
    color: #444;   
}

.page-home .home-container .go-button{
    grid-column: 1/2;
    grid-row: 8/9;
}

.logo-large {
  width: 20em;
  margin-bottom: 8px;
}

.page-home .logo-small {
    width: 8em;
    transform: rotate(15deg);
  opacity: 0;
  animation: fadeQuick 4s ease-in-out infinite;
}

@keyframes fadeQuick {
  0% { opacity: 0; }       
  5% { opacity: 1; }       
  35% { opacity: 1; }     
  50% { opacity: 0; }      
  100% { opacity: 0; }     
}

 .home-container .go-button {
  background-color: #CC3F4F;
  color: #fff;
  padding: 14px 32px;
  border: none;
  border-radius: 999px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 12px;
  transition: background-color 0.3s ease;
  text-align: center; 
  display: inline-block; 
  width: 8em;
}

.page-home .go-button:hover {
  background-color: #E6A0BA;
  color:#330707;
}

.page-map body {
  height: 100vb;
}

.page-map .gif{
  height: 60px;
}

.page-map  .map-container{
    display: grid;
    grid-template-columns: 2.5fr 6fr 2.5fr;
    max-width: 100%;
    padding-left:40px;
    padding-right: 40px;
    align-items: stretch; 
    column-gap: 24px; 
    height: 630px;   
}

.page-map .map-container .search-box{
    border-radius: 999px;
    font-size: 11px; 
    max-width: 100%; 
    height: 1rem;    
    /*padding: 0 16px;*/
    margin-top: 3em;
    border: 2px solid #E6A0BA;
}

#map {
  height: 630px;
  margin-top: 2em;
}



.page-map .search-box:focus {
  outline: none;
  border-color: #E6A0BA;  
  box-shadow: 0 0 0 3px rgba(204, 63, 79, 0.2); 
}

.page-map .map-container .filter-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px; 
  margin-top: 20px;
  padding-bottom: 2em; 
}

.filter-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.map-container .filter-buttons button {
  background: white;
  border: none;
  padding: 16px 24px;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.page-map .filter-buttons button:hover {
  box-shadow: 0 6px 14px #63b6ff8d;
}

.map-container .filter-buttons button.active {
  background: #b3deff;
  box-shadow: 0 4px 10px rgba(0,150,200,0.3);
  font-weight: bold;
}


.page-map .filter-buttons button {
  background-color: #F9FBFA;
  border: none;
  border-radius: 16px;
  padding: 14px 12px;
  font-size: 14px;
  font-weight: 550;
  color: #000000;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
  width: 100%;
  height: 4em;

}

.page-map .filters {
  display: flex;
  flex-direction: column;
  overflow: hidden;   
}

.page-map .location-list {
  flex: 1 1 auto;
  height:auto;
  min-height: 0;      /**/
  overflow-y: auto;
}


.page-map .loc-card {
  background-color: #fff;
  border-radius: 22px;
  box-shadow: 0 8px 18px rgba(0,0,0,0.12);
  overflow: hidden;     
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.page-map .loc-img {
  width: 100%;
  height: 100px;      
  object-fit: cover;
}

.page-map .loc-footer {
  background-color: #b3deff;
  padding: 8px 14px;
}

.page-map .loc-name {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
}

.page-map .loc-address {
  margin: 2px 0 0 0;
  font-size: 11px;
}


.page-map .details {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 24px 24px 28px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 620px;
}

.page-map .details {
  position: sticky;
  top: 0;
}


.page-map .img-box {
  width: 100%;
  height: 280px;   
  background-color: #cc3f4f; 
  border-radius: 8px;
  overflow: hidden;
}

.page-map .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-map .place-name {
  margin: 12px 0 4px;
  font-size: 18px;
  font-weight: 600;
}

.page-map .place-location {
  margin: 0 0 4px;
  font-size: 14px;
}

.page-map .place-desc {
  margin: 4px 0 12px;
  font-size: 14px;
  line-height: 1.4;
}

.page-map .detail-buttons {
  margin-top: auto;        
  display: flex;
  gap: 16px;
}

.page-map .detail-btn {
  flex: 1;
  border-radius: 999px;
  border: none;
  padding: 10px 0;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease,
              box-shadow 0.2s ease,
              transform 0.1s ease;
}


.page-map .primary-btn {
  background-color: #e6a0ba;
  color: #fff;
  box-shadow: 0 4px 10px rgba(230, 160, 186, 0.6);
}


.page-map .secondary-btn {
  text-align: center;
  background-color: #fbe6ef;
  color: #cc3f4f;
  border: 1px solid #e6a0ba;
  text-decoration: none;
}


.page-map .primary-btn:hover {
  background-color: #cc3f4f;
  box-shadow: 0 6px 14px rgba(204, 63, 79, 0.6);
  transform: translateY(-1px);
}

.page-map .secondary-btn:hover {
  background-color: #f4c9dc;
  border-color: #cc3f4f;
  transform: translateY(-1px);
}

.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  gap: 40px 60px;
  align-items: start;   
  margin-top: 40px;
  margin-left: 9em;
  margin-right: 9em;

}



.about-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.self-pic {
  grid-column: 1,2;
  background-color: #cfe8ee;
  border: 4px solid #ff63638d;
  border-radius: 4px;
   width: 20em;
  height: 20em; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.self-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.self-pic, .about-intro-box {     
  width: 100%;
  max-width: 420px;
}

.self-pic {
  Width: 640px;
  height:auto;
  margin-top: 12px;
}

.about-intro-box {
  background-color: #e3f6fb;  
  border-radius: 24px;
  padding: 24px 32px;
}
.about-previous {
  background-color: #fff1d9;
  padding: 24px 32px;
  border-radius: 24px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}


.about-title-underline {
  display: inline-block;
  width: 60px;
  height: 3px;
  background-color: #e1358a;
  border-radius: 20%;
}

.about-intro-me a{
color:#e1358a;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: end;
  justify-content: start;
}

.about-bg {
  position: relative;
  width: 35em;
  border-radius: 12px;
  overflow: hidden;
}

.about-bg-img {
  width: 93.5%;
  height: auto;
  display: block;
  border-radius: 3em;
}

.about-previous {
  background-color: #ffffff;
  padding: 20px 24px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.about-document-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 16px;
}



.page-about .about-document-list {
  margin: 0;
  padding: 0;
  min-height: 200px;
}

.page-about .about-document-title{
  margin-top: 1em;
  font-size: 30px;
}

.page-about .about-document-list {

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;;

  padding-left: 1em;
  font: bold;
}

.about-document-list {
    list-style: none;
    padding: 0;
}

.about-document-list li a {
    position: relative;
    display: inline-flex;     
    align-items: center;       
    padding-left: 90px;       
    min-height: 32px;         
}

.about-document-list li a {
    color:#CC3F4F;        
}




.about-document-list li a::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 80px;
    background-image: url("../images/Logo-small.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.about-document-list p{
  font-size: 0.8em;
  padding-left: 5em;
  color:#8b8b8b;
}




@media (max-width: 768px) {

  .page-home .home-container {
    display: block;
    padding: 20px 16px;
  }

  .header {
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav {
    gap: 20px;
  }

  .nav a {
    font-size: 16px;
    padding-right: 0;
    background-image: none; 

  }
 .home-image {
    border-radius: 0%;
    height: 400px;       
    overflow: hidden;
  }

  .home-image img {
    width: 100%;
    height: auto;
    transform: translateY(-10px);  /**/
  }



.page-home  .home-container .illustration-map{
    margin-left: 0;  
}

  .home-image p {
    padding-left: 0;
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
  }

  .page-home .home-text {
    display: block;
    text-align: center;
    padding: 0 18px;
    margin-top: 3em;
  }

  .home-text h1 {
    font-size: 22px;
    margin-top: 16px;
    padding-bottom: 1em;
  }

  .home-text h3 {
    display: none;
    font-size: 16px;
    margin-top: 8px;
  }

  .home-text .firstp{
    font-size: 14px;
    line-height: 1.5;
    margin-top: 12px;
    padding-bottom: 1em;

  }

  .home-text .secondp {
    font-size: 14px;
    line-height: 1.5;
    margin-top: 12px;
    padding-bottom: 2em;
  }

  .logo-large {
    display: none;
  }
  .logo-small {
    display:none;
  }


  .home-container .go-button {
    width: 100%;
    max-width: 280px;
    padding: 14px 0;
    font-size: 18px;
    margin: 24px auto 0;
    display: block;
  }
}

@media (max-width: 768px) {

  .page-map body {
    height: auto;
  }

  .page-map .map-container {
    height: auto;
    align-items: flex-start;  
  }

  .page-map .filters {
    height: auto;
    overflow: visible;
  }

  .page-map .location-list {
    flex: 1 1 auto;
    max-height: auto;  
    overflow-y: auto;    /**/
  }

  .page-map .map-container {
    display: grid;
    grid-template-columns: 1.1fr 1.4fr;
    grid-template-rows: auto auto;
    column-gap: 16px;
    row-gap: 24px;
    padding: 16px;
  }

  .page-map .map-area {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  #map {
    height: 260px;
    margin-top: 0;
  }

  .page-map .filter-buttons {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
    margin-top: 16px;
    padding-bottom: 16px;
  }

  .page-map .filter-buttons button {
    font-size: 10px;
    padding: 10px 0;
  }

  .page-map .loc-card {
    margin-bottom: 12px;
  }

  .page-map .details {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: auto;
    margin-top: 8px;
  }
}


@media (max-width: 768px) {

  .page-about .about-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 24px 16px 40px;
    max-width: 100%;
  }

  .page-about .about-right {
  order: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
}

  .page-about .about-left {
    order: 2;
  }

  .page-about .about-bg {
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    border-radius: 24px;
    overflow: hidden;
  }

  .page-about .about-bg-img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5em;    
  }
  .page-about .about-previous {
    margin-top: 24px;
    padding: 20px 0 0;
    box-shadow: none;          
    background-color: transparent;
  }

  .page-about .about-document-title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 0 12px;
  }

  .page-about .about-document-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 24px;
    row-gap: 8px;
    padding-left: 0;
    font-weight: 600;
  }


  .page-about .about-document-list li {
    list-style: none;
    margin-left: 1.2em;
  
  }

  .page-about .about-document-list p {
    margin: 0;
    font-size: 14px;
  }
  .page-about .self-pic {
    width: 230px;
    height: 230px;
    margin: 32px auto 0;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .page-about .self-pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .page-about .about-intro-me {
    margin-top: 30px;
    text-align: left;
  }

  .page-about .about-title-cn {
    font-size: 24px;     
    margin-top: 0;
    margin-bottom: 8px;
  }

  .page-about .about-intro-me p {
    font-size: 14px;
    line-height: 1.6;
    margin-top: 8px;
  }
}

@media (max-width: 768px) {
  .logo {
    width: 7em;   
    height: auto;
    padding-bottom: 10px;   
  }
}

.about-document-list li a::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-image: url("../images/Logo-small.png");
    background-size: contain;
    background-repeat: no-repeat;
}

  

